body {
    background: blueviolet;
    font: normal 15pt Arial;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}
.containerCartas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.containerCronometro{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.containerContagens{
    display: flex;
    justify-content: center;
}
#cronometro{
    margin-right: 300px;
}
.hidden{
    visibility: hidden;
}
#inputsPlacar{
    display: flex;
    height: 100%;
    background-color: lawngreen;
    align-items: flex-end;
    flex-direction: row;
}
.placar{
    margin-left: 70px;
    position: absolute;
    width: 200px;
    height: 300px;
    background-color: crimson;
}
#placar{
    text-align: center;
}
.container1{
    position: relative;
    width: 100%;
	height: 100%;
}
.flipper{
    position: relative;
	width: 100%;
	height: 100%;
    transition: transform 0.8s;
	transform-style: preserve-3d;
}
.back{
	transform: rotateY(180deg);
}
.front, .back{
	position: absolute;
	width: 100%;
	height: 100%;
    backface-visibility: hidden;
}
.flip-container {
    display: flex;
    width: 100px;
    height: 100px;
    perspective: 1000px;
  }
.carta{
    height: 100px;
    width: 100px;
    background-color: rgba(255, 0, 0, 0.747);
    margin-bottom: 5px;
    transition: transform 0.8s;
	transform-style: preserve-3d;
}
.cartaBack{
    height: 100px;
    width: 100px;
    margin-bottom: 5px;
    transition: transform 0.8s;
	transform-style: preserve-3d;
}
header {
    color: white;
    text-align: center;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    height: 480px;
    margin: auto;
    box-shadow: 5px 5px 10px red;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}
.background0{
    background-color: gray;
}
.background1{
    background-color: blue;
}
.background2{
    background-color: green;     
}
.background3{   
    background-color: pink;                                                 
}
.background4{                                               
    background-color: black;
}
.background5{
    background-color: cyan;
}
.background6{
    background-color: brown;
}
.background7{
    background-color: orange;
}
.background8{
    background-color: yellow;
}
.background9{
    background-color: purple;
}
#myProgress {
    width: 640px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    border-radius: 20px;
}
#myBar {
    width: 0.1%;
    height: 10px;
    background-color: green;
    border-radius: 20px;
}
.cartaBloqueada{
    pointer-events:none;
}